@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
footer {
  display: flex;
  background-color: #1e293b;
  color: #cbd5e1;
  font-family: Inter, Arial, sans-serif;
  padding: 20px;
  margin-top: 36px;
  gap: 100px;
}
footer .brand {
  width: 40%;
}
footer .brand .title {
  display: block;
  margin-bottom: 36px;
  font-size: 42px;
  color: #38bdf8;
}
footer .links {
  width: 20%;
}
footer .links .title {
  font-size: 20px;
  font-weight: 600;
  color: #38bdf8;
  margin-bottom: 36px;
}
footer .links ul {
  list-style-type: square;
}
footer .links ul li a {
  display: block;
  padding: 12px 8px;
  color: #f8fafc;
  text-decoration: none;
}
footer .links ul li a:hover {
  color: #38bdf8;
}
footer .contacts {
  width: 40%;
}
footer .contacts .title {
  font-size: 20px;
  font-weight: 600;
  color: #38bdf8;
  margin-bottom: 36px;
}
footer .contacts ul {
  margin-bottom: 20px;
  list-style-type: none;
}
footer .contacts ul li {
  display: flex;
  margin-bottom: 24px;
  gap: 12px;
  align-items: center;
}
footer .contacts ul li i {
  font-size: 28px;
  color: #38bdf8;
}